@model CloudTrabajoBimestral.Models.Certificado

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Certificado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly  />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaEmision" class="control-label"></label>
                <input asp-for="fechaEmision" class="form-control" />
                <span asp-validation-for="fechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlDescarga" class="control-label"></label>
                <input asp-for="UrlDescarga" class="form-control" />
                <span asp-validation-for="UrlDescarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscripcionID" class="control-label"></label>
                <select asp-for="InscripcionID" asp-items="@ViewBag.ListaInscripciones" class="form-select">
                    <option selected="selected" value="">-- Elija una Inscripción --</option>
                </select>
                <span asp-validation-for="InscripcionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
